body {
    font-family: 'Bitter', serif;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 50px;
}

.header {
    background-image: url(images/donation6.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
    text-decoration: solid;
    font-weight: 400px;
    font-size: large;
    width: 100%;
    height: 40em;
    padding: 5px 5px;
}

.header-color {
    color: whitesmoke;
}

.donate-now {
    color: whitesmoke;
    background-color: rgb(221, 72, 18);
    font-weight: 700;
    border-radius: 5px;
    padding: 10px;
    border: 0;
}